In [1]:
## crea el DataFrame
## los DataFrame en Pandas son diccionarios

import pandas
df = pandas.DataFrame( {'index': list(range(1,6)),
                        'name':['A','B','C','D','E'],
                        'value':[3.03, 5.14, 0.40, 1.13, 8.25]})
df

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

In [2]:
## pandas.DataFrame
df.to_pickle('Tabla.csv')

In [3]:
pandas.read_pickle('tabla.csv')

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

In [4]:
## se escribe el archivo 
df.to_csv('Tabla.csv', # el nombre del archivo 
         index = False) #imprime los nombre de las filas?
#verifica el archivo creado 
print(open('Tabla.csv', 'r').read())

index,name,value
1,A,3.03
2,B,5.14
3,C,0.4
4,D,1.13
5,E,8.25

In [5]:
pandas.read_csv('Tabla.csv')

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

In [6]:
## La función read_csv para leer archivos contiene otros otros parámetros importantes
pandas.read_csv('Tabla.csv',      # el archivo 
                sep = ',',    #separador de campos 
                thousands = None, #separador de miles para números
                decimal = '.')   #separador de los decimales para números

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

In [7]:
## Escribe el archivo con las especificaciones de formato
df.to_csv('Tabla.csv2',     # nombre del archivo
           sep = ';',            # separador de campos
           decimal = ',',        # caracter decimal
           index = False)        # imprime indice de las filas?

## Verifica el archivo creado
print(open('Tabla.csv2', 'r').read())

index;name;value
1;A;3,03
2;B;5,14
3;C;0,4
4;D;1,13
5;E;8,25

In [8]:
## Lee el archivo nuevamente
pandas.read_csv('Tabla.csv2',
                 sep = ';',
                 thousands = None,
                 decimal = ',')

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

In [9]:
## Escribe el archivo en formato .txt
df.to_csv('Tabla.txt',  # nombre del archivo
         sep = ' ',        # separador de campos
         decimal = '.',     # caracter decimal
         index = False)    # imprime indice de las filas?

## verifica el archivo creado
print(open('Tabla.txt', 'r').read())

index name value
1 A 3.03
2 B 5.14
3 C 0.4
4 D 1.13
5 E 8.25

In [10]:
## lee el archivo del disco 
pandas.read_table('Tabla.txt',
                 sep = ' ',
                 decimal = '.',
                 thousands = None)

C:\Users\PC GAMER\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: read_table is deprecated, use read_csv instead.
  """

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

In [11]:
## crea un archivo separado por multiples espacios en blanco 
## los nombres de las columnas están separadas por comas.
text = """indexnames       valuescodes
      1jhon wick     2.13    10
      2mark twin     3.14    11
      3louis ng      4.34    12
      4dan brown     2.31    13
      5ann marine    4.98    14"""

with open('Tabla.txt', 'w') as f:
    f.write(text)
    
## verifique el archivo creado 
print(open('Tabla.txt','r').read())

indexnames       valuescodes
      1jhon wick     2.13    10
      2mark twin     3.14    11
      3louis ng      4.34    12
      4dan brown     2.31    13
      5ann marine    4.98    14

In [12]:
##lee el archivo nuevamente
pandas.read_fwf('Tabla.txt',
               colspaces = 'infer',
               widths = [5, 9, 8, 5])

   index     names     value  scode
0    NaN  1jhon wi  ck     2   0.13
1    NaN  2mark tw  in     3   0.14
2    NaN  3louis n  g      4   0.34
3    NaN  4dan bro  wn     2   0.31
4    NaN  5ann mar  ine    4   0.98

In [13]:
## Escribe el DataFrame al archivo tipo JSON
df.to_json('Tabla.json')

##Verifica el archivo creado
print(open('Tabla.json','r').read())

{"index":{"0":1,"1":2,"2":3,"3":4,"4":5},"name":{"0":"A","1":"B","2":"C","3":"D","4":"E"},"value":{"0":3.03,"1":5.14,"2":0.4,"3":1.13,"4":8.25}}

In [14]:
##lee el archivo nuevamente
pandas.read_json('Tabla.json')

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

In [15]:
## Convierte el DataFrame a html
df.to_html('Tabla.html',
          index = False)
## Verifica el archivo creado
print(open('Tabla.html','r').read())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>index</th>
      <th>name</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>A</td>
      <td>3.03</td>
    </tr>
    <tr>
      <td>2</td>
      <td>B</td>
      <td>5.14</td>
    </tr>
    <tr>
      <td>3</td>
      <td>C</td>
      <td>0.40</td>
    </tr>
    <tr>
      <td>4</td>
      <td>D</td>
      <td>1.13</td>
    </tr>
    <tr>
      <td>5</td>
      <td>E</td>
      <td>8.25</td>
    </tr>
  </tbody>
</table>

In [16]:
## Lee el archivo nuevamente 
pandas.read_html('Tabla.html')

[   index name  value
 0      1    A   3.03
 1      2    B   5.14
 2      3    C   0.40
 3      4    D   1.13
 4      5    E   8.25]

In [17]:
## Convierte el DataFrame a un libro de Excel
df.to_excel('Tabla.xlsx',
            index = False)

In [18]:
## Lee el archivo nuevamente
pandas.read_excel('Tabla.xlsx')

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

In [19]:
## Convierte el DataFrame a formato HF5
df.to_hdf('Tabla.h5', 
          key = 'G1')

In [20]:
## Lee el archivo nuevamente aclarando que el campo clave será G1
pandas.read_hdf('Tabla.h5',
                key = 'G1')

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

In [21]:
## Lee el archivo nuevamente
pandas.read_hdf('Tabla.h5')

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

In [22]:
## escribe el archivo
df.to_stata('Tabla.dta')

## lee el archivo
pandas.read_stata('Tabla.dta')

   level_0  index name  value
0        0      1    A   3.03
1        1      2    B   5.14
2        2      3    C   0.40
3        3      4    D   1.13
4        4      5    E   8.25

In [23]:
import scipy.io as sio
sio.savemat('Tabla', {'df': df})
sio.loadmat('Tabla')

{'__header__': b'MATLAB 5.0 MAT-file Platform: nt, Created on: Fri Nov 22 13:13:42 2019',
 '__version__': '1.0',
 '__globals__': [],
 'df': array([[(array([[None]], dtype=object), array([[None]], dtype=object), array([[None]], dtype=object))]],
       dtype=[('index', 'O'), ('name', 'O'), ('value', 'O')])}

In [25]:
## leer el archivo del disco.
x = pandas.read_csv('Plantas.csv',
               sep = ',',
               thousands = None,
               decimal = '.')

x.describe()

FileNotFoundError: [Errno 2] File b'Plantas.csv' does not exist: b'Plantas.csv'

In [26]:
## Se imprime el número de registro que contiene el archivo
len(x)

NameError: name 'x' is not defined

In [ ]:
## Se imprime el número de columnas que contiene el dataFrame
len(list(x.axes[1]))

In [ ]:
x.size

In [ ]:
## Se extrae la matriz traspuesta del dataframe, 
##es decir, las columnas ahora son cada registro y las filas 
##las cractaerísticas de la especie. 
print(x.T.head())

In [ ]:
## Parte inicial del dataframe
print(x.head())

In [ ]:
## Primero 3 registros de la tabla 
print(x.head(3))

In [ ]:
## Parte final del dataframe
print(x.tail())

In [ ]:
## Últimos registros de la tabla
print(x.tail(3))

In [ ]:
## Extrae el nombre de las columnas en una lista. 
##Se debe especificar en que posición se encuentra la fila 
##de nombres de columna
list(x.axes[1])

In [ ]:
##Muestra el nombre de la columna que por defecto componen las tablas
x.columns[1]

In [ ]:
## Nombres que se les da las filas. Usualmente se generan automaticamente desde 0 hasta la longitud de del dataframe
x.index

In [ ]:
## Se extrae una lista que contiene el nombre de las filas
print(list(x.index))

In [ ]:
## La indexacción por columnas se realiza utilizando el nombre completo de la columna como una posición
## Se muestran los 5 primeros registros de la columna Species
x['Species'].head(5)

In [ ]:
## Es posible indexar varias columnas con sus respectivos datos
x[['Species', 'Sepal_Length']].head(5)

In [ ]:
## Otra forma de obtener una columna
x.get('Species').head()

In [ ]:
##Es posible tener acceso a la columna a través del operador '.'
x.Species.head()

In [ ]:
## El simbolo ':' en la primera posición significa que se obtienen todas las filas  
x.loc[:,['Species']].head()

In [ ]:
## La misma salida anterior pero con loc
x.loc[:].Species.head()

In [ ]:
x.loc[:]['Species'].head()

In [ ]:
## Accede a la segunda fila
x.loc[2]

In [ ]:
## Accede al dato de Species y Sepal_Length de la segunda fila
x.loc[2, ['Species', 'Sepal_Length']]

In [ ]:
key = ['case_{}'.format(n) for n in range(150)]
key[0:5]

In [ ]:
## Se cambian los nombres de las filas
x.index = key
x.head()

In [ ]:
## Vuelve al indice por defecto
## Convierte el indice en una columna
x = x.reset_index()
x.head()

In [ ]:
## Se elimina la columna index
del x['index']
x.head()

In [ ]:
## Selección de las primeras tres columnas
x.iloc[[0, 1, 2]].head()

In [ ]:
## Selección de las primeras tres columnas
x.iloc[:,list(range(0, 3))].head()

In [ ]:
## selección de las últimas tres columnas
n = len(list(x.axes[1]))
x.iloc[:,list(range(n-3, n))].head()

In [ ]:
## Selección de algunas columnas
x.iloc[:,[0,4]].head()

In [ ]:
## Selección de las primeras 3 filas
x[:3]

In [ ]:
## Sesde la tercera hasta la última fila
x[3:].head()

In [ ]:
## Selección por intervalos
print( x[::15] )

In [ ]:
## Orden inverso
print( x[::-1].head() )

In [ ]:
## Todas las filas excepto la última
x[:-1].tail()

In [ ]:
## El campo que se encuentra en la fila 2 y columna 3
x.iloc[2, 3]

In [ ]:
## valores para una fila particular
x.loc[[2]]

In [ ]:
## indices como vector
x.iloc[[1, 3, 5]]

In [ ]:
## indices como vector
x.iloc[[1, 3, 5],[0, 4]]

In [ ]:
## Acceso rapido a un elemento
x.at[0, 'Sepal_Length']

In [ ]:
## selección condicional. Retorna True si la condición se cumple y False si no la cumple.
(x['Species'] == 'virginica').head()

In [ ]:
## Al realizar el filtro con loc, se accede a los elementos que cumplen con la condición
x.loc[x['Species'] == 'virginica'].head()

In [ ]:
## El método `isin()` determina si un dato en particular se encuentra dentro del set
w = x['Species'].isin(['virginica'])
w.head()

In [ ]:
# Selecciona los elementos que cumplieron con la condición anterior
x[w].head()

In [ ]:
## Selección condicional
x.loc[x['Petal_Length'] > 3.2].head()

In [ ]:
## Conteo de casos
x['Species'].value_counts()